@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
}

.profiles{
    
    list-style: none; /* Remove bullet points */
}


.profiles li {
    border: 1px solid #ccc; /* Add border to each list item */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-bottom: 5px; /* Add some space between list items */
}


.profiles li :hover{
    border: 1px solid #ccc; /* Add border to each list item */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-bottom: 5px; /* Add some space between list items */
}


.link a {
    text-decoration: none; /* Remove default underline */
    color: #0366d6; /* GitHub's link color */
    font-weight: bold; /* Make the link text bold */
    

   
}
.link :hover {
    border-color: #ccc; /* Change border color on hover */
}


#sidebar {
    position: fixed;
    top: 0;
    left: -220px; /* Adjust width of sidebar */
    width: 200px; /* Adjust width of sidebar */
    height: 100%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto; /* Allow sidebar to be scrollable if content exceeds height */

}

#sidebar ul i {
    margin-right: 5px; /* Add space between icon and text */
    color: #0366d6; /* Adjust icon color */
    font-size: 1.2em; /* Adjust icon size */
}

.menu-hidden #sidebar {
    left: -220px; /* Adjust width of sidebar */
}

.menu-visible #sidebar {
    left: 0;
}


.container {
    max-width: 800px;
    padding: 120px;
    margin-right: 20px;
    transition: margin-left 0.3s ease; /* Add transition for margin-left */

}

.menu-hidden .container {
    margin-left: 0; /* Adjust margin of main content when sidebar is hidden */
}

.menu-visible .container {
    margin-left: 200px; /* Adjust margin of main content when sidebar is visible */
}



h1, h2, h3 {
    margin-top: 0;
}

.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.menu-hidden .menu-toggle {
    display: block; /* Show menu button when sidebar is hidden */
}

.menu-visible .menu-toggle {
    display: none; /* Hide menu button when sidebar is visible */
}

/* Add styles for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.logo{
    width: 140px; /* Adjust width of sidebar */
    height: 100px;
}

/* Styles for contact buttons */
.contact-button {
    display: block;
    margin-top: auto; /* Push buttons to the bottom */
    text-decoration: none;
    color: #333;
}

.contact-button i {
    margin-right: 5px;
}
